@font-face {
  font-family: Noto_Sans_JP;
  src: url('../asset/fonts/google/Noto_Sans_JP/NotoSansJP-Regular.otf') format("truetype");
}

@font-face {
  font-family: Roboto;
  src: url('../asset/fonts/google/Roboto/Roboto-Regular.ttf') format("truetype");
}

