.main {

  .joblist {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 170px;
    min-height: 600px;
    border: solid 1px #000;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 1px #bdc0c8;
  }

  .chainList {
    margin: 50px 10px 20px 200px;
  }
}

.cp_ipselect {
	overflow: hidden;
	width: 90%;
	margin: 2em auto;
  text-align: center;
  
  select {
    padding-right: 1em;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    border: none;
    outline: none;
    background: transparent;
    background-image: none;
    box-shadow: none;
    -webkit-appearance: none;
    appearance: none;

    &::-ms-expand {
      display: none;
    }
  }
  &.cp_sl01 {
    position: relative;
    border: 1px solid #bbbbbb;
    border-radius: 2px;
    background: #ffffff;
    padding: 4px 0 4px;
    margin: 0 5px 0;

    select {
      padding: 8px 38px 8px 8px;
      color: #666666;
    }

    &::before {
      position: absolute;
      top: 0.8em;
      right: 0.9em;
      width: 0;
      height: 0;
      padding: 0;
      content: '';
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #666666;
      pointer-events: none;
    }
  }
}
