.main {

  .joblist {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 170px;
    min-height: 600px;
    border: solid 1px #000;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 1px #bdc0c8;
  }

  .chainList {
    margin: 10px 10px 20px 200px;
  }
}